<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="HW25_Lecture29_Reporting_TestNG_AllureReport">
        <classes>
<!--            <class name="com.cursor.runner.CucumberRunnerTests">-->
            <class name="ui.RozetkaTest">
<!--                <methods>-->
<!--                    <include name="hpAddToBasketAndCheckPriceTest"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>